[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.0"
python-dotenv = "*"
django-environ = "*"
channels = {version = "==4.0.0", extras = ["daphne"]}
channels-redis = "*"
django-bootstrap5 = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
